Package: com.yueyu.qqkeyboard
Name: 越狱插件键盘
Version: 0.0.3
Architecture: iphoneos-arm64
Description: QQ 自定义键盘插件（骨架版本）
Maintainer: yueyu
Author: yueyu
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader